{% extends "layout.html.j2" %}

{% block content %}
<div class="container">
  <h1>404</h1>
  <p>
      Ymddiheuriadau, nid yw'r dudalen yna ar gael.
  </p>
  <a href="/" class="btn btn-xs btn-success">Adra</a>
</div>

{% endblock content %}

{% block scripts %}
<script type="text/javascript">
    $(function () {

    });
</script>
{% endblock scripts %}
