{% extends "layout.html.j2" %}

{% block content %}
<div class="container">
  <div class="row m-5 pt-5">
    <div class="col-12 text-center">
      <h5>Defnyddiwch ddolen i wasanaeth allanol...</h5>
    </div>
    <div class="col-12">
      <form class="input-group mb-3" action="/" method="get">
        <input class="form-control" name="url" type="text" style="height: 5em;" placeholder="Dolen | https://youtu.be/..." aria-label="Recipient's username" aria-describedby="form-5-email-domain">
        <div class="input-group-append">
          <button type="submit" class="form-control btn btn-lg btn-info" style="height: 4em;" title="Trawsgrifiwch!">
            <img src="{{request.static_url('app:static/images/pyramid-16x16-light.png')}}" alt="" width="36" height="36">
          </button>
        </div>
      </form>
    </div>
    <div class="col-12 text-center">
      <h5>Neu...</h5>
    </div>
    <div class="col-12">
      <form id="my-dropzone" action="/upload" class="dropzone form-control text-info">
        <div class="fallback">
          <input name="file" type="file" multiple />
        </div>
      </form>
    </div>
    <div class="col-12 text-center">
      <h5>Neu...</h5>
    </div>
    <div class="col-12 text-center">
      <h3 id="countdown"></h3>
      <section class="experiment" style="padding: 5px;">
            <button class="btn btn-info" title="Cliciwch i ddechrau recordio" id="start-recording"><i data-feather="mic"></i><br>Record</button>
            <button class="btn btn-danger" title="Cliciwch i stopio recordio ac i yrru'r sain ar gyfer trawsgrifio" id="stop-recording" disabled><i data-feather="stop-circle"></i><br>Stop</button>
            <button class="btn btn-primary" title="Sut i Ddefnyddio'r Trawsgrifiwr" id="how-recording"><i data-feather="help-circle"></i><br>Help</button>
        </section>
        <script>
            function captureUserMedia(mediaConstraints, successCallback, errorCallback) {
                navigator.mediaDevices.getUserMedia(mediaConstraints).then(successCallback).catch(errorCallback);
            }

            var mediaConstraints = {
                audio: true
            };

            document.querySelector('#start-recording').onclick = function() {
                this.disabled = true;
                document.querySelector('#stop-recording').disabled = false;
                captureUserMedia(mediaConstraints, onMediaSuccess, onMediaError);
                document.getElementById("countdown").textContent = "Paratoi y mic";
            };

            document.querySelector('#stop-recording').onclick = function() {
                this.disabled = true;
                mediaRecorder.stop();
                mediaRecorder.stream.stop();

                document.querySelector('#start-recording').disabled = false;
            };

            var mediaRecorder;

            function onMediaSuccess(stream) {
                mediaRecorder = new MediaStreamRecorder(stream);
                mediaRecorder.stream = stream;

                mediaRecorder.recorderType = StereoAudioRecorder;
                mediaRecorder.mimeType = 'audio/wav';

                // don't force any mimeType; use above "recorderType" instead.
                // mediaRecorder.mimeType = 'audio/webm'; // audio/ogg or audio/wav or audio/webm

                mediaRecorder.audioChannels = 1;
                mediaRecorder.ondataavailable = function(blob) {
                    var a = document.createElement('a');
                    a.target = '_blank';
                    a.innerHTML = 'Open Recorded Audio No. ' + (index++) + ' (Size: ' + bytesToSize(blob.size) + ') Time Length: ' + getTimeLength(timeInterval);

                    a.href = URL.createObjectURL(blob);
                    uploadRecording(blob);
                };

                function uploadRecording(blob) {
                  var xhr = new XMLHttpRequest();
                  xhr.onload = function(e) {
                      window.location.assign(e.target.responseURL);
                  };
                  var fd = new FormData();
                  var filename = new Date().toISOString();
                  fd.append("file", blob, filename);
                  xhr.open("POST", "/upload_recording", true);
                  xhr.send(fd);
                };

                var timeInterval = 5000 * 1000;

                // get blob after specific time interval
                mediaRecorder.start(timeInterval);
                document.getElementById("countdown").textContent = "Recordio!";
                document.querySelector('#stop-recording').disabled = false;
            }

            function onMediaError(e) {
                console.error('media error', e);
            }

            var audiosContainer = document.getElementById('audios-container');
            var index = 1;

            // below function via: http://goo.gl/B3ae8c
            function bytesToSize(bytes) {
                var k = 1000;
                var sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB'];
                if (bytes === 0) return '0 Bytes';
                var i = parseInt(Math.floor(Math.log(bytes) / Math.log(k)), 10);
                return (bytes / Math.pow(k, i)).toPrecision(3) + ' ' + sizes[i];
            }

            // below function via: http://goo.gl/6QNDcI
            function getTimeLength(milliseconds) {
                var data = new Date(milliseconds);
                return data.getUTCHours() + " hours, " + data.getUTCMinutes() + " minutes and " + data.getUTCSeconds() + " second(s)";
            }

            window.onbeforeunload = function() {
                document.querySelector('#start-recording').disabled = false;
            };
        </script>
    </div>
    <div class="col-12">
      <div id="uid" class="mt-3">

      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="false">
  <div class="modal-dialog modal-dialog-scrollable modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title text-dark">Telerau Defnydd</h2>
      </div>
      <div class="modal-body text-dark">
        <p>
          Diolch am eich diddordeb yn y Trawsgrifiwr Ar-lein - y wefan sy'n eich helpu i greu is-deitlau a thrawsgrifiadau i ffeil sain neu fideo cyfrwng Cymraeg yn hwylus.
        </p>
        <h5> <b>Cywirdeb</b> </h5>
        <p>
          Nid yw'r Trawsgrifiwr Ar-lein yn adnabod geiriau yn iawn bob amser, ac felly mae'r wefan yn darparu rhyngwyneb ar gyfer cywiro'r trawsgrifiadau awtomatig.
        </p>
        <p>
          Os ydych yn cael canlyniadau gwael sydd angen cryn dipyn o waith cywiro, yna gall y canlynol fod o help. Gofalwch fod y siaradwr/siaradwyr yn llefaru'n ddigon agos at feicroffon sy'n gweithio'n foddhaol a'u bod yn siarad yn glir heb fod yn rhy gyflym. Peidiwch â disgwyl iddo adnabod geiriau Saesneg neu eiriau mwy llafar (fel rîli, tsips, neith).
        </p>
        <p>
          Os nad ydi'r Trawsgrifiwr Ar-lein i weld yn adnabod eich llais yn dda, mae'n bosib bod eich acen neu'ch llais yn anghyfarwydd i'r peiriant. Un ffordd o wneud yn siŵr y bydd fersiwn diweddarach o'r Trawsgrifiwr Ar-lein yn adnabod eich llais yn well yw drwy rannu eich data gyda ni (gweler isod) ac/neu recordio rhai brawddegau ar gwefan Gymraeg Mozilla Common Voice. <a href="https://commonvoice.mozilla.org/cy">https://commonvoice.mozilla.org/cy</a>
        </p>
        <h5> <b>Preifatrwydd</b> </h5>
        <p>
          Hoffem i chi fod yn ymwybodol, wrth i chi ddefnyddio Trawsgrifiwr Ar-lein, y bydd eich ffeil sain, fideo neu fideo YouTube yn cael ei danfon at ein gweinydd(ion) ni er mwyn trawsgrifio'r lleferydd i chi. Mae'r Trawsgrifiwr Ar-lein yn cadw copïau o'r sain, trawsgrifiadau awtomatig yn ogystal ag unrhyw gywiriadau hyd at 30 diwrnod er mwyn rhoi amser digonol i chi ddefnyddio'r gwasanaeth a chywiro pob awgrym. Ar ôl 30 diwrnod bydd pob ffeil gysylltiedig â'ch cais gwreiddiol yn cael ei dileu oddi ar ein gweinydd(ion). Byddwn yn parchu'n llawn eich preifatrwydd a hawliau hawlfraint ac ni fyddwn yn defnyddio eich data at unrhyw ddibenion eraill y tu hwnt i ddarparu gwasanaeth Trawsgrifiwr Ar-lein.
        </p>
        <h5> <b>Rhannu Data</b> </h5>
        <p>
          Os ydych chi'n fodlon i ni ddefnyddio eich data, a bod modd i chi fel awdurdod neu berchennog hawlfraint roi caniatâd i ni ddefnyddio'r data hynny er mwyn adeiladu corpws a gwella'r trawsgrifiwr at eich dibenion chi ac eraill yn ogystal â thechnolegau iaith Cymraeg yn gyffredinol, yna cysylltwch â ni drwy <a href="mailto:techiaith@bangor.ac.uk">techiaith@bangor.ac.uk</a> i drafod sut y gallwn ni gydweithio.
        </p>
        <p>
          <b>Drwy roi ffeil sain, fideo neu ddolen YouTube i mewn i'r wefan rydych chi'n derbyn y telerau hyn.</b>
        </p>
        <button type="button" title="cau" class="btn btn-primary btn-lg float-right" data-dismiss="modal"><i data-feather="check"></i> Derbyn </button>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="howToModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title text-dark">Sut i Ddefnyddio'r Trawsgrifiwr</h2>
      </div>
      <div class="modal-body text-dark">
        <p>
          Dilynwch y camau isod er mwyn i'r Trawsgrifiwr adnabod beth rydych yn ei ddweud ar lafar yn Gymraeg a'i drosi yn destun.
        </p>
        <h5> <b>Cywirdeb</b> </h5>
        <p>
          Dydi'r Trawsgrifiwr ddim eto yn adnabod eich geiriau yn iawn bob amser. Mewn arbrofion syml mae'r fersiwn cychwynnol hwn yn camddeall tua 30% o eiriau mewn brawddeg. Os ydych chi'n cael canlyniadau gwaeth na hyn, gall y canlynol fod o help:
          <ul>
            <li>gofalwch fod eich microffon yn gweithio'n foddhaol.</li>
            <li>gofalwch eich bod yn siarad yn glir, heb fod yn rhy gyflym.</li>
            <li>peidiwch â ddisgwyl iddo adnabod geiriau Saesneg neu eiriau mwy llafar (fel rîli, tsips, neith).</li>
            <li>os nad ydi'r Trawsgrifiwr i weld yn adnabod eich llais yn dda, mae'n bosib fod eich acen neu'ch llais yn anghyfarwydd i'r peiriant. Un ffordd o wneud yn siwr y bydd fersiwn diweddarach o'r Trawsgrifiwr yn adnabod eich llais yn well yw recordio rhai brawddegau ar wefan Gymraeg Mozilla Common Voice</li>
          </ul>
        </p>
        <p>
          Y camau felly yw:
          <ol>
            <li>Clicio <i data-feaher="mic"></i> 'Record'</li>
            <li>Siarad brawddeg yn glir.</li>
            <li>Clicio ar y botwm <i data-feaher="mic"></i> 'Stop'</li>
            <li>Bydd y Trawsgrifiwr yn gweithio ar y sain ac yn creu ddolen i nôl a chywiro eich trawsgrifiad.</li>
            <li>Mae'n bosib y bydd y broses drawsgrifio yn cymryd dipyn o amser.</li>
            <li>Peidiwch â cholli'r ddolen yma, nid oes modd ei chael hi eto!</li>
          </ol>
        </p>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

{% block scripts %}
<script type="text/javascript">
  // This example uses jQuery so it creates the Dropzone, only when the DOM has
  // loaded.

  // Disabling autoDiscover, otherwise Dropzone will try to attach twice.
  Dropzone.autoDiscover = false;
  // or disable for specific dropzone:
  // Dropzone.options.myDropzone = false;

  $(function() {
    $('#how-recording').click(function(){
      $('#howToModal').modal({show:true});
    });
    {% if not uid %}
    $('#myModal').modal({show:true});
    {% endif %}
    // Now that the DOM is fully loaded, create the dropzone, and setup the
    // event listeners
    var myDropzone = new Dropzone("#my-dropzone", {maxFilesize: 746, timeout: 0,});
    myDropzone.on("success", function(file, response) {
      clearMessage();
      if (response.success) {
        makeLinkBox(response.uid);
      } else {
        makeFailedBox(response.extension);
      }
    });
    {% if uid %}
    makeLinkBox("{{uid}}");
    {% endif %}
  })

  function clearMessage() {
    $("#uid").empty();
  }

  function makeLinkBox(uid) {

    $("#uid").append([`
      <div class="alert alert-info fade in alert-dismissible show">
        <button class="close" type="button" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">
            ×
          </span>
        </button>
        <h5>
          Eich dolen allforio!
        </h5>
        Dilynwch y ddolen yma i nôl a chywiro eich trawsgrifiad.  Mae'n bosib y bydd y broses drawsgrifio yn cymryd dipyn o amser. Peidiwch â cholli'r ddolen yma, nid oes modd ei chael hi eto!

        <div class="input-group mb-2">
          <input class="form-control form-control-sm text-monospace" id="correct-url-to-copy" readonly="" value="https://localhost:6543/correct?uid=`,uid,`">
          <div class="input-group-append">
            <button class="btn btn-primary btn-sm" data-toggle="copy" onclick="copyURL()" data-text="https://localhost:6543/correct?uid=`,uid,`">Copy</button>
          </div>
        </div>
      </div>`].join(''));
  }
  function makeFailedBox(uid) {
    $("#uid").append([`
      <div class="alert alert-danger fade in alert-dismissible show">
        <button class="close" type="button" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">
            ×
          </span>
        </button>
        <strong>
          Fformat ffeil anghowir!
        </strong>
        Nad ydem yn gallu derbyn y fformat `,uid,`, plîs defnyddiwch <strong>.wav</strong>
      </div>`].join(''));
  }
  function copyURL() {
    var copyText = document.getElementById("correct-url-to-copy");
    copyText.select();
    copyText.setSelectionRange(0, 99999);
    document.execCommand("copy");
  }
</script>
{% endblock scripts %}
