pyramid==1.10.4
waitress
cookiecutter
mysqlclient
mysql-connector-python
celery==4.4.7
pyramid_celery
redis
pyramid_tm
supervisor
scipy
matplotlib
numpy
gunicorn
deepspeech==0.9.1
webrtcvad
srt
praatio
ffmpeg-normalize
