pyramid
waitress
cookiecutter
mysqlclient
mysql-connector-python
celery
pyramid_celery
redis
pyramid_tm
supervisor
scipy
matplotlib
gunicorn
pytube
packaging
numpy
wave
jiwer
webrtcvad
transformers
tqdm
pyyaml
torchaudio
torch==2.0.1
datasets
librosa
srt
praatio<5
pydub
pandas
python_speech_features
scipy
ffmpeg-normalize
setuptools